*{
    color: white; 
    font-family: Arial, Helvetica, sans-serif;

}
    body{
    background-color: #800080;
}
.ui.form{
    display: flex;
}

.container{
    margin-Top: 20px;
    width: 90%;
    margin: auto
}
.iframe{
    margin-top: 30px;
}
.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    margin-top: 30px;
}
.search-bar.ui.segment{
    animation-name: move;
    animation-duration: 500ms ;
}
@keyframes move {
    from{
        opacity: 0;
        transform: scale(0.9);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.title{
    font-size: 15px;
    margin-top: 40px;
    font-weight: 200;
    margin-left: 20px;
    color: white;
}
.video-item.item img {
    max-width: 400px;
    max-height: 350px ;
}
@media (max-width: 480px) {
    .video-item{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }
    .video-item.item img {
      max-width: 100%;
      max-height: 350px ;
    }
}